@import "bootstrap/dist/css/bootstrap.min.css";


body {
  background: #007e05;
  background: radial-gradient(circle farthest-corner at center center, #007e05 5%, #0b2d00 80%, #000000 180%);
  background: -webkit-radial-gradient(circle farthest-corner at center center, #007e05 5%, #0b2d00 80%, #000000 180%);
  background: -moz-radial-gradient(circle farthest-corner at center center, #007e05 5%, #0b2d00 80%, #000000 180%);
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 10%;
}

#carta {
  background: white;
  text-align: center;
  position: relative;
  font-size: 3em;
  padding: 20px;
  border: 1px solid black;
  border-radius: 9px;
  width: 200px;
  height: 300px;
  box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.75);

}

.icono-arriba {
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 1em;
}

.numero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icono-abajo {
  position: absolute;
  bottom: 5px;
  right: 15px;
  font-size: 1em;
  transform: rotate(180deg);
  /* rotar el icono inferior */
}

.rojo {
  color: red;
}

.negro {
  color: black;
}